div.wrapper {
    height: 300px;
    width: 300px;
    background-color: black;
}

div.relative {
    position: relative;
    top: 100px;
    left: 100px;
    height: 300px;
    width: 300px;
    border: 6px solid green;
    color: red;
  }
  